/* .onBoardFormHeadMain {
  background-color: black;
  background-image: url(../assests/onBImg/onboardHome-min.jpg);
  height: 100vh;
  background-size: cover;
} */
.onBoardFormHead {
  padding: 20px;
  text-align: center;
}
.onBoardFormH1 {
  font-family: "Avenir";
  font-weight: 700;
  /* color: #12b0e8; */
  color: #472ecd;
}
.onBoardMainForm {
  text-align: center;
  padding-top: 20px;
}
.travelListField {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.vrfyOnBoard {
  border: none;
  background-color: #472ecd;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
  margin-right: 10px;
}
.rptOnBoard {
  border: none;
  background-color: #d82e2f;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
}
.prevOnBoard {
  border: none;
  background-color: #12b0e8;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
}
.disableOnBoard {
  border: none;
  background-color: #45388a;
  padding: 10px 20px;
  border-radius: 10px;
  /* color: #cad5e2; */
  color: rgb(161, 161, 161);
  margin-bottom: 10px;
  font-family: "Andika";
}
.saveOnBoard {
  border: none;
  /* background-color: blue; */
  background-color: #472ecd;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  font-family: "Andika";
}
.addtravellerMB {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.activetravelB {
  border: none;
  background-color: #23c4ed;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
}
.disabletravelB {
  border: none;
  background-color: #207398;
  padding: 10px 20px;
  border-radius: 10px;
  color: #cad5e2;
}
.OnBoardSubmitDoc {
  text-align: center;
}
.OnBoardSubmit {
  border: none;
  /* background-color: #23c4ed; */
  background-color: #472ecd;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Andika";
}
.OnBoardSubmitDisable {
  border: none;
  /* background-color: #207398; */
  background-color: #45388a;
  padding: 10px 20px;
  border-radius: 10px;
  /* color: #cad5e2; */
  color: rgb(161, 161, 161);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Andika";
}
.travelListCN {
  display: flex;
}
.travelListCNTitle {
  font-family: "Avenir";
  width: 60px;
}
.travelListCNBody {
  font-family: "Andika";
  padding-left: 5px;
}
.travelListFormInner {
  box-shadow: 0px 2px 8px #ccc;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.travelListForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgb(51, 50, 50); */
  /* border-radius: 10px; */
  /* padding: 10px; */
  /* width: 100%; */
}
.travelIndex {
  box-shadow: 0px 2px 8px #472ecd;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  border-radius: 50%;
}
.travelIndexM {
  display: flex;
  align-items: center;
  justify-content: center;
}
.travelListEditDel {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.travelListEdit,
.travelListDel {
  margin: 5px 0px;
}
.travelIndexName {
  margin-left: 10px;
}
.travelIndexButtonM {
  text-align: center;
}
.travelIndexButtonm {
  border: none;
  background-color: #472ecd;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Andika";
}
.travelIndexButtonmdis {
  border: none;
  background-color: #45388a;
  padding: 10px 20px;
  border-radius: 10px;
  color: rgb(161, 161, 161);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Andika";
}
.fileForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fileFormTextInput {
  display: flex;
}
.FileChange {
  display: flex;
  align-items: center;
}
.FileChangeStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.chngBtnFile {
  margin-left: 10px;
}
.ChangeFileBtn {
  border: none;
  /* background-color: #23c4ed; */
  background-color: #472ecd;
  padding: 10px 20px;
  border-radius: 10px;
  /* color: black; */
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fileFlex {
  display: flex;
  margin: 5px;
}
.fileflexLab {
  width: 170px;
  font-family: "Avenir";
  font-size: 18px;
}
.fileflexLabm {
  font-family: "Andika";
}

.onBFM {
  display: flex;
  align-items: center;
  justify-content: center;
}
.onBFMF {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.onBFullval {
  margin: 10px;
}
.onBFMm {
  width: 70%;
  height: 500px;
  padding: 10px;
  box-shadow: 0px 2px 8px #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.onBFMmm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.onBFMm1 {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
  padding: 10px;
  box-shadow: 0px 2px 8px #ccc;
  border-radius: 10px;
}
.onBFullval label {
  margin-bottom: 0;
}
.onBFullval label {
  color: #472ecd;
  font-family: "Avenir";
  font-weight: 600;
  font-size: 18px;
}
.OnBFval {
  border-bottom: 2px solid #472ecd;
  width: 280px;
  font-size: 16px;
  font-family: "Andika";
  padding: 4px;
}
.onBFM1 {
  width: 35%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.mySwiper {
  width: 100%;
  height: 100%;
}
.mySwiperImg {
  width: 100%;
  height: 100%;
}
.onBFM2 {
  width: 65%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choLabel {
  background-color: #472ecd;
  color: white;
  padding: 5px;
  width: 120px;
  height: 33px;
  font-family: "Andika";
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
.onBAdress {
  text-align: center;
}
.onBAdressInput {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px 20px;
}
.onBDocInput {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.onBAdressInput label,
.onBDocInput label {
  align-self: flex-start;
  font-family: "Avenir";
  font-size: 18px;
}
.onBAdressInput input,
.onBDocInput input {
  border: none;
  outline: none;
  border-bottom: 2px solid #472ecd;
  font-family: "Andika";
}
.onBGI {
  display: none;
}
.onBDocInputRadio {
  display: flex;
}
.onBGL {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.onBGL-label {
  margin-left: 5px;
  margin-right: 10px;
  font-family: "Andika";
  font-size: 16px;
}
.onBGL-radio {
  height: 20px;
  width: 20px;
  border: 2px solid #472ecd;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.onBGL-radio::after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #472ecd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
}
.onBGI:checked ~ .onBGL .onBGL-radio::after {
  opacity: 1;
}
.docOnBoardA {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.docOnBoardA h5 {
  font-family: "Avenir";
  font-weight: 700;
}
.docOnBoardABtn {
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: #472ecd;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
}
.docOnBoardABtnDis {
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: #45388a;
  color: gray;
  padding: 5px 15px;
  border-radius: 10px;
}
.onboardReportModal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  animation: popupSlow 0.3s ease-out;
}
.onboardReportModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.onboardReportModalContentInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.onboardReportModalContentInner h5 {
  font-family: "Andika";
  margin: 10px 0px;
}
.onboardReportModalContentInner button {
  border: none;
  outline: none;
  background-color: #472ecd;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-family: "Andika";
  margin-top: 10px;
}
.onboardReportModalClose {
  cursor: pointer;
  text-align: end;
  font-size: 25px;
  margin-right: 10px;
}
.caseMainss {
  position: relative;
}
.caseMainss1 {
  position: absolute;
  top: -157px;
  right: -144px;
}
.caseMainss2 {
  position: absolute;
  top: -28px;
  right: -133px;
}
.caseMainss3 {
  position: absolute;
  top: -117px;
  right: -77px;
}
.prevBtns {
  border: none;
  outline: none;
  background-color: #472ecd;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
}
.canBtns {
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: #d82e2f;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  .onBFMm {
    width: 90%;
    height: 400px;
    margin-bottom: 20px;
  }
  .onBFMm1 {
    width: 90%;
    height: fit-content;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .onBFM1 {
    display: none;
  }
  .onBFM2 {
    width: 100%;
  }
  .caseMainss1,
  .caseMainss2,
  .caseMainss3 {
    position: static;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .onBFMm {
    height: 500px;
  }
}
@media screen and (max-width: 620px) {
  .onBFMm {
    height: 800px;
  }
  .fileFormTextInput {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .fileFormTextBox {
    text-align: center;
  }
  .fileFormControll {
    width: 220px;
  }
}
@media screen and (max-width: 360px) {
  .onBFMm,
  .onBFMm1 {
    box-shadow: none;
  }
  .onBoardFormH1 {
    font-size: 26px;
  }

  .onBFullval label {
    font-size: 16px;
  }
  .OnBFval {
    font-size: 15px;
  }
  .onBGL-label {
    font-size: 15px;
  }
  .onBDocInput label,
  .fileflexLab {
    font-size: 16px;
  }
  .onBAdressInput {
    width: 260px;
  }
  .docOnBoardA h5 {
    text-align: center;
  }
  .travelListEditDel {
    flex-direction: row;
  }
  .travelListEdit,
  .travelListDel {
    margin: 0px 5px;
  }
}
@media screen and (max-width: 280px) {
  .onBoardFormH1 {
    font-size: 25px;
  }
  .onBoardMainForm {
    padding-top: 0;
  }
  .travelListCNBody {
    width: 130px;
  }
  .prevOnBoard {
    padding: 7px 10px;
  }
  .OnBFval {
    width: 260px;
  }
  .fileFlex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .docOnBoardA h5 {
    width: 150px;
  }
}
